.navbar ,.navbar2 ,.table ,.table2 ,.dropdown-menu {
    font-size: 17px;
}

#notiBadge {
    font-size: 14px;
}

.table ,.table2 {
    margin-top: 70px;
}

.table2{
    margin-left: 50px;
    margin-right: 50px;
}

.table tr:nth-child(even) {background-color: #E6D8C1;}

#cardView {
    margin-left: 50px;
    margin-right: 50px;
}

#phoneView {
    display: none;
}

#cusphoneView {
    margin-left: 50px;
    margin-right: 50px;
}

.pNodata {
    margin-top: 70px;
}

.pNodata {
    margin-top: 70px;
}

.disable {
    color: #777;
}

.submitB {
    margin-left: 15px;
}

.add {
    color: green;
}

.delete {
    color: red;
}

.navbar2 {
    display: none;
}

.dropdown {
    margin-top: 5px;
    display: inline;
}

#map-canvas {
    width: 1200px;
    height: 800px;
    display: block;
    margin: auto;
}

#notiMenu {
    width: 600px;
    height: 500px;
    overflow-y: scroll;
}

#grayDot {
    height: 9px;
    width: 9px;
    background-color: gray;
    border-radius: 50%;
    display: inline-block;
}

#yellowDot {
    height: 9px;
    width: 9px;
    background-color: yellow;
    border-radius: 50%;
    display: inline-block;
}

#greenDot {
    height: 9px;
    width: 9px;
    background-color: lightgreen;
    border-radius: 50%;
    display: inline-block;
}

@media only screen and (min-width : 768px) and (max-width : 1024px)  {
    .navbar {
        display: inline;
    }

    .navbar2 {
        display: inline;
    }
}

@media only screen and (max-width: 768px) {
    #cardView {
        display: none;
    }

    #phoneView {
        display: block;
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 150px;
    }

    #cusphoneView {
        margin-top: 150px;
        margin-left: 0px;
        margin-right: 0px;
    }
    
    .navbar {
        display: none;
    }

    .navbar2 {
        display: inline;
    }

    #map-canvas {
        width: 300px;
        height: 500px;
        display: block;
        margin: auto;
    }

    .table ,.table2 {
        margin-top: 90px;
    }

    .pNodata {
        margin-top: 90px;
    }

    #notiMenu2 {
        width: 300px;
        height: 300px;
        overflow-y: scroll;
    }

}